<% if current_user %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'users/info' %>
      </section>
      <section>
        <%= render 'users/stats' %>
      </section>
      <section>
        <%= render 'microposts/form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Microposts Feed</h3>
      <%= render 'feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>
    <p>This is the home page for the <%= link_to 'Ruby on Rails Tutorial', 'http://railstutorial.org/' %> sample application.</p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
